@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-lg;
}

::-webkit-scrollbar-track {
  @apply bg-slate-700;
}

html {
  @apply scrollbar-thin scrollbar-thumb-slate-500 scrollbar-track-slate-700;
}
